/* Created By: Christopher Vensand */

.main-view {
    /* Below is the ordering each class follows */

    /* --------------------------------- */
    /*  Positioning
        Display & Box Model
        Color
        Text
        Other
    */
    /* --------------------------------- */

    position: fixed;
    top: 0em;
    left: 0em;

    width: 100%;
    height: 100%;

    background-color: dimgrey;

    font-family: Futura;

    outline: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.github-ref {
    position: absolute;
    width: 3em;
    height: 3em;
}

.personal-ref {
    position: absolute;
    left: 3em;
    width: 4em;
    height: 3em;
}

.picture {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.synthesizer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 40em;
    width: 65em;
    border-radius: 1.5em;

    outline: 0;

    -webkit-box-shadow: 0.5em 0.5em 1.5em 0.5em #000000; 
    box-shadow: 0.5em 0.5em 1.5em 0.5em #000000;
}

.wood-background {
    width: 65em;
    height: 40em;
    object-fit: fill;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.top-panel {
    position: absolute;
    top: 2.5%;
    left: 1.5%;

    width: 97%;
    height: 55%;
    border-radius: 0.5em;

    background-color: #2A2A28;
}

.bottom-panel {
    position: absolute;
    top: 60%;
    left: 1.5%;

    width: 97%;
    height: 37.5%;
    border-radius: 0.5em;
}

.input-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -78.75%);

    width: 65em;
    height: 40em;

    outline: 0;
}

.oscillator {
    position: absolute;
    top: 4%;
    left: 1.5%;

    width: 18%;
    height: 92%;
    border: solid 0.075em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;

    border-color: #F5EEEA;
}

.envelope-generators {
    position: absolute;
    top: 4%;
    left: 19.5%;

    width: 46%;
    height: 92%;
    border: solid 0.075em;

    border-color: #F5EEEA;
}

.envelope-label {
    position: absolute;
    top: 6%;
    left: 2%;
    width: 6%;
    height: 16%;
    border-radius: .1em;

    color: #2A2A28;
    background-color: #F5EEEA;

    text-align: center;
    vertical-align: center;
}

.filter {
    position: absolute;
    top: 4%;
    left: 65.5%;

    width: 18%;
    height: 92%;
    border: solid 0.075em;

    border-color: #F5EEEA;
}

.output {
    position: absolute;
    top: 4%;
    left: 83.5%;

    width: 15%;
    height: 92%;
    border: solid 0.075em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.25em;

    border-color: #F5EEEA;
}

.panel-label-left {
    position: absolute;

    width: 100%;
    height: 7%;
    border-top-left-radius: 0.2em;

    background-color: #F5EEEA;

    text-align: center;
}

.panel-label-center {
    position: absolute;

    width: 100%;
    height: 7%;

    background-color: #F5EEEA;

    text-align: center;
}

.panel-label-right {
    position: absolute;

    width: 100%;
    height: 7%;
    border-top-right-radius: 0.2em;

    background-color: #F5EEEA;

    text-align: center;
}

.knob-box {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 93%;

    color: #F5EEEA;
}

.knob-controller {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.knob-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.knob-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.envelope-content {
    position: absolute;
    top: 115%;
    left: 50%;
    width: 65%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);

    text-align: center;
    vertical-align: center;

    background-color: #000000;

    pointer-events: none;
}

.oscillator-content {
    position: absolute;
    top: 51%;
    left: 155%;
    width: 70%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);

    text-align: center;
    vertical-align: center;

    background-color: #000000;

    pointer-events: none;
}

.filter-content {
    position: absolute;
    top: 51%;
    left: 155%;
    width: 70%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);

    text-align: center;
    vertical-align: center;

    background-color: #000000;

    pointer-events: none;
}

.volume-content {
    position: absolute;
    top: 115%;
    left: 50%;
    width: 70%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);

    text-align: center;
    vertical-align: center;

    background-color: #000000;

    pointer-events: none;
}

.string-knob-label {
    position: absolute;
    top: 50%;
    left: 155%;
    width: 115%;
    border-radius: 0.5em;
    transform: translate(-50%, -50%);

    text-align: center;
    vertical-align: center;
    font-family: Futura;
    font-size: 0.8em;

    background-color: #000000;
}

.knob-box img {
    max-width: 100%;
}

.wave-knob {
    position: absolute;
    top: 14.25%;
    left: 10%;

    width: 40%;
    height: 24%;
}

.wave-label {
    position: absolute;
    top: 9.25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detune-knob {
    position: absolute;
    top: 44.5%;
    left: 10%;

    width: 40%;
    height: 24%;
}

.detune-label {
    position: absolute;
    top: 41.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phase-knob {
    position: absolute;
    top: 74.75%;
    left: 10%;

    width: 40%;
    height: 24%;
}

.phase-label {
    position: absolute;
    top: 71.75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-envelope-box {
    position: absolute;
    top: 0;

    width: 100%;
    height: 50%;
}

.amplitude-envelope-box {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 50%;


}

.attack-knob {
    position: absolute;
    top: 26.75%;
    left: 6%;

    width: 17.5%;
    height: 52.5%;
}

.attack-label {
    position: absolute;
    top: 19%;
    left: 14.75%;
    transform: translate(-50%, -50%);

    font-size: 0.8em;
}

.decay-knob {
    position: absolute;
    top: 26.75%;
    left: 29.5%;

    width: 17.5%;
    height: 52.5%;
}

.decay-label {
    position: absolute;
    top: 19%;
    left: 38.25%;
    transform: translate(-50%, -50%);

    font-size: 0.8em;
}

.sustain-knob {
    position: absolute;
    top: 26.75%;
    left: 53%;

    width: 17.5%;
    height: 52.5%;
}

.sustain-label {
    position: absolute;
    top: 19%;
    left: 61.75%;
    transform: translate(-50%, -50%);

    font-size: 0.8em;
}

.release-knob {
    position: absolute;
    top: 26.75%;
    left: 76.5%;

    width: 17.5%;
    height: 52.5%;
}

.release-label {
    position: absolute;
    top: 19%;
    left: 85.25%;
    transform: translate(-50%, -50%);

    font-size: 0.8em;
}

.frequency-knob {
    position: absolute;
    top: 13.25%;
    left: 10%;

    width: 40%;
    height: 24%;
}

.frequency-label {
    position: absolute;
    top: 8.25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.type-knob {
    position: absolute;
    top: 43.5%;
    left: 10%;

    width: 40%;
    height: 24%;
}

.type-label {
    position: absolute;
    top: 40.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rolloff-knob {
    position: absolute;
    top: 73.75%;
    left: 10%;

    width: 40%;
    height: 24%;
}

.rolloff-label {
    position: absolute;
    top: 71.75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.volume-knob {
    position: absolute;
    top: 12.25%;
    left: 15.5%;

    width: 70%;
    height: 35%;
}

.volume-label {
    position: absolute;
    top: 8.25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presets {
    position: absolute;

    width: 22.5%;
    height: 100%;
    border-radius: 0.5em;

    background-color: #F5EEEA;
}

.preset-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;
    border-radius: 0.5em;

    border: 0.2em solid #2A2A28;

    vertical-align: center;
}

.preset-header {
    position: absolute;

    width: 100%;
    height: 11%;

    background-color: #2A2A28;
}

.preset-label {
    position: absolute;

    width: 100%;

    color: #F5EEEA;

    text-indent: 0.5em;
}

.preset-random-button {
    position: absolute;
    transform: translate(50%, 50%);

    bottom: 50%;
    right: 10%;
    border-radius: 0.25em;
    outline: none;

    color: #F5EEEA;
    border: 0.1em solid #F5EEEA;
    background-color: #2A2A28;
}

.preset-random-button:hover {
    border-radius: 0.25em;

    color: #2A2A28;
    border: 0.1em solid #2A2A28;
    background-color: #F5EEEA;
}

.preset-vertical-menu {
    position: absolute;
    margin: auto;
    padding-left: 0;
    bottom: 0;

    width: 100%;
    height: 89%;
    border-radius: 0.3em;

    overflow: hidden;
    overflow-y: scroll;
}

.preset-vertical-menu li {
    border: none;

    color: #2A2A28;

    line-height: 1.5em;
    text-indent: 0.5em;
}

.preset-vertical-menu li:hover {
    background-color: #CEECFD;
}

.preset-vertical-menu li.active {
    border-radius: 0.25em;

    background-color: #CEECFD;
}

.preset-vertical-menu li .contents {
    position: absolute;

    width: 100%;

    text-align: left;
}

.preset-vertical-menu li .contents .number {
    position: absolute;

    width: 20%;
}

.preset-vertical-menu li .contents .name {
    position: absolute;
    left: 20%;

    width: 80%;
}

.keyboard {
    position: fixed;
    bottom: 2.5%;
    right: 1.5%;

    width: 73.5%;
    height: 37.5%;
    border-radius: 0.5em;

    background-color: black;
}

.top-key-box {
    position: absolute;
    margin-top: 0.1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 99.5%;
    height: 48%;
}

.bottom-key-box {
    position: absolute;
    margin-left: 0.1%;
    margin-right: 0.1%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 99.5%;
    height: 48%;
}

.key {
    margin-left: 0.15%;
    margin-right: 0.15%;

    width: 9.7%;
    height: 100%;
    border-radius: 7px;
    outline: none;

    background-color: white;

    font: 1.4em Futura;
}

.key:hover {  background-color: rgb(233, 233, 233) }

.pressed-key {
    margin-left: 0.15%;
    margin-right: 0.15%;
    transform: translateY(2px);

    width: 9.7%;
    height: 100%;
    border-radius: 7px;
    outline: none;

    background-color: gainsboro;

    font: 1.4em Futura;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }