.main-view {
    position: fixed;
    top: 0em;
    left: 0em;
    height: 100%;
    width: 100%;
}

.synthesizer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40em;
    width: 65em;
}

.wood-background {
    object-fit: fill;
    height: 40em;
    width: 65em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

.top-panel {
    position: absolute;
    left: 1.5%;
    top: 2.5%;
    height: 55%;
    width: 97%;
    border-radius: 0.5em;
    background-color: #2A2A28;
}

.bottom-panel {
    position: absolute;
    left: 1.5%;
    top: 60%;
    height: 37.5%;
    width: 97%;
    border-radius: 0.5em;
}

.input-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -78.75%);
    height: 40em;
    width: 65em;
}

.oscillator {
    position: absolute;
    left: 1.5%;
    top: 4%;
    height: 92%;
    width: 18%;
    border: solid 0.05em;
    border-color: #F5EEEA;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.envelope-generators {
    position: absolute;
    left: 19.5%;
    top: 4%;
    height: 92%;
    width: 46%;
    border: solid 0.05em;
    border-color: #F5EEEA;
}

.filter {
    position: absolute;
    left: 65.5%;
    top: 4%;
    height: 92%;
    width: 18%;
    border: solid 0.05em;
    border-color: #F5EEEA;
}

.output {
    position: absolute;
    left: 83.5%;
    top: 4%;
    height: 92%;
    width: 15%;
    border: solid 0.05em;
    border-color: #F5EEEA;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.25em;
}

.panel-label-left {
    position: absolute;
    text-align: center;
    width: 100%;
    border-top-left-radius: 0.1em;
    background-color: #F5EEEA;
}

.panel-label-center {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #F5EEEA;
}

.panel-label-right {
    position: absolute;
    text-align: center;
    width: 100%;
    border-top-right-radius: 0.1em;
    background-color: #F5EEEA;
}

.presets {
    position: absolute;
    height: 100%;
    width: 22.5%;
    border-radius: 0.5em;
    background-color: #F5EEEA;

}

.preset-content {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    border: 0.15em solid #2A2A28;
    border-radius: 0.5em;
}

.preset-header {
    position: absolute;
    width: 100%;
    background-color: #2A2A28;
}

.preset-label {
    position: absolute;
    left: 5%;
    width: 100%;
    color: #F5EEEA;
}

.preset-random-button-container {
    text-align: right;
    width: 97.5%;
    height: 90%;
}

.preset-random-button {
    color: #F5EEEA;
    border: 0.1em solid #F5EEEA;
    border-radius: 0.25em;
    background-color: #2A2A28;
}

.preset-vertical-menu {
    position: absolute;
    top: 2%;
    height: 92%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.preset-vertical-menu li {
    display: block;
    color: green;
}

.preset-vertical-menu li:hover {
    background-color: black;
}

.keyboard {
    position: fixed;
    right: 1.5%;
    bottom: 2.5%;
    height: 37.5%;
    width: 73.5%;
    border-radius: 0.5em;
    background-color: black;
}

.top-key-box {
    position: absolute;
    height: 48%;
    width: 99.5%;
    top: 25%;
    left: 50%;
    margin-top: 0.1%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    transform: translate(-50%, -50%);
}

.bottom-key-box {
    position: absolute;
    height: 48%;
    width: 99.5%;
    top: 75%;
    left: 50%;
    margin-left: 0.1%;
    margin-right: 0.1%;
    transform: translate(-50%, -50%);
}

.key {
    width: 9.7%;
    height: 100%;
    margin-left: 0.15%;
    margin-right: 0.15%;
    font: 1.5em georgia;
    font-style: oblique;
    border-radius: 7px;
    background-color: white;
}

.key:hover {  background-color: rgb(233, 233, 233)}

.pressedKey {
    width: 9.7%;
    height: 100%;
    margin-left: 0.15%;
    margin-right: 0.15%;
    font: 1.5em georgia;
    font-style: oblique;
    border-radius: 7px;
    background-color: gainsboro;
    transform: translateY(2px);
}