.main-view {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.synthesizer {
    height: 33em;
    width: 53em;
    position: relative;
    margin: auto;
    background-image: url(assets/light_wood_panel.jpg);
}

.screen-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.keyboard {
    
}

.top-keys {
    position: absolute;
    width: 90%;
    bottom: 20.5%;
    left: 5%;
    text-align: center;
    background-color: black;
}

.bottom-keys {
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    text-align: center;
    background-color: black;
}

.key {
    background-color: white;
    width: 9.70%;
    height: 3.3em;
    font: 2em courier;
    margin: 0.03em;
}

.pressedKey {
    background-color: blue;
    width: 9.70%;
    height: 3.3em;
    font: 2em courier;
    margin: 0.03em;
}